@use "../abstracts/" as *;

.footer {
    background-color: $bg-secondary;
    padding: 7rem 4rem 0 4rem;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }

    .contact-us {
        border-bottom: 2px solid $hr-border;
        padding-bottom: 3rem;

        h2 {
            margin-bottom: 2rem;
        }
    }

    h2 {
        color: white;
        font-size: 4rem;
        font-weight: bold;
    }

    .main {
        padding: 3.6rem 0;
        font-size: 1.2rem;
        border-bottom: 2px solid $hr-border;

        ul {
            list-style-type: none;
        }

        li {
            margin-bottom: 0.5rem;
        }

        .wrapper>* {
            margin-bottom: 2rem;
        }

        address {

            >span {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
            }

            strong {
                font-size: 1.6rem;

                > span {
                    display: flex;
                    align-items: center;
                }
            }

        }

        .newsletter {
            max-width: 24rem;

            h3 {
                font-size: 2.8rem;
                margin-bottom: 1rem;
            }

            input {
                font-size: 1.6rem;
                padding: 1rem 1rem;
                margin-bottom: 1rem;
            }

            .btn {
                font-size: 1.4rem;
                padding: 0.8rem 1rem;
            }
        }

        .socials {
            flex-basis: 100%;

            img {
                width: 2.6rem;
            }

            a {
                margin-right: 1.6rem;
            }
        }

    }

    .copyright {
        padding: 3rem 0;
    }

}