.hero-section {
    background-image: url("/housefix/materials/img/Body.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 73rem;
    padding: 0.5rem 4rem;


    h2 {
        color: white;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    p {
        color: white;
        font-size: 1.8rem;
    }

    .plumber-img {
        object-fit: contain;
        height: 100%;
    }
}
