@use "../abstracts/" as *;

.navbar {
    background-color: white !important;
    display: flex;
    justify-content: space-between;

    .nav-link {
        color: $secondary !important;
        margin-right: 2rem;
        font-weight: 600;
        font-size: 1.4rem;
    }

    .active {
        color: $primary !important;
    }

    .navbar-toggler {
        border: none;
        filter: brightness(0) saturate(100%) invert(58%) sepia(90%) saturate(2865%) hue-rotate(186deg) brightness(98%) contrast(89%);

        &-icon {
            background-image: url("/housefix/materials/SVG/Icon _ Hamburger-02.svg");
            width: 3rem;
            height: 3rem;
        }
    }
}