@use "../abstracts/" as *;

.navbar {
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 5rem;

    .nav-link {
        color: $secondary !important;
        margin-right: 2rem;
        font-weight: 600;
        font-size: 1.4rem;
    }

    .active {
        color: $primary !important;
    }

}
