@use "../abstracts" as *;

.top-address {
    display: flex;
    background-color: $secondary;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 5rem;
    
    a {
    color: white;
    text-decoration: none;
}
}

.contact-info {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
}

.icon {
    width: 2rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(184deg) brightness(107%) contrast(101%);
}
.icon--small {
    width: 1.6rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(184deg) brightness(107%) contrast(101%);
    margin-right: 0.5rem;

}