@use "../abstracts" as *;

.top-address {
    display: flex;
    background-color: $secondary;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 5rem;
    
    a {
    color: white;
    text-decoration: none;
}
}

.contact-info {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
}
