// This file contains very basic styles.

@use "../abstracts" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}